<a name="home"></a>
<div class="big-home-image ag-background-primary">
  <div class="container">
    <h1>We are Software Mechanics.</h1>
    <p>
      We <strong><u>talk</u></strong> to developers.
      We <strong><u>listen</u></strong> to developers.
      We <strong><u>understand</u></strong> developers.
    </p>
  </div>
</div>

<div class="container content-sm">

    <div class="headline-center-v2 headline-center-v2-dark">
      <h2>Our Philosophy</h2>
      <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
    </div>

  <div class="row">
    <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
      <img class="rounded-x" width="50%" src="/assets/img/animaticons/pencil/animat-pencil-color.gif"/>
      <h2 class="title-v3-md margin-bottom-10">We design software that users love using</h2>
    </div>
    <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
      <img class="rounded-x" width="50%" src="/assets/img/animaticons/responsive/animat-responsive-color.gif"/>
      <h2 class="title-v3-md margin-bottom-10">We build software that developers can maintain</h2>
    </div>
    <div class="col-md-4 content-boxes-v6">
      <img class="rounded-x" width="50%" src="/assets/img/animaticons/lightbulb/animat-lightbulb-color.gif"/>
      <h2 class="title-v3-md margin-bottom-10">We suggest development strategies that developers enjoy implementing</h2>
    </div>
  </div>
</div>
