<div class="service-info">
  <div class="container">
    <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
      <h2>We let the nubmers do the talking.</h2>
      <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
    </div>
    <div class="margin-bottom-40"></div>
    <div class="row margin-bottom-10">
      <div class="col-sm-3 col-xs-6 md-margin-bottom-10">
        <div class="counters">
          <span class="counter">350</span>
          <h4>APIs Documented</h4>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="counters">
          <span class="counter">135</span>
          <h4>Strategies Built</h4>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="counters">
          <span class="counter">34</span>
          <h4>Systems Implemented</h4>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="counters">
          <span class="counter">12</span>
          <h4>Teams Trained</h4>
        </div>
      </div>
    </div>
  </div>
</div>
