<!--=== Service Block ===-->
<a name="services"></a>
<div class="bg-color-light">
  <div class="container">

    <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
      <h2>Our Services</h2>
      <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
    </div>

    <div class="row margin-bottom-60">
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-pencil"></i>
          <h3 class="title-v3-bg">API Design</h3>
          <p>
            What API documentation format should you use? What are the best practices for each format. Our team of experts can work with your team to understand your and design the best APIs.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x  icon-paper-plane"></i>
          <h3 class="title-v3-bg">API Implementation</h3>
          <p>
            No worries, if you do not have the expertise or resources to build the APIs. We have a team of developers who can implement the APIs for you.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-wrench"></i>
          <h3 class="title-v3-bg">API Tooling</h3>
          <p>
            Using right tools can save a tremendous amount of time and eliminate frustration in the processes. We know the API tools and we can work with you to adapt the tools for your needs.
          </p>
        </div>
      </div>
    </div><!--/row-->

    <div class="row margin-bottom-60">
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-badge"></i>
          <h3 class="title-v3-bg">API Evalution</h3>
          <p>
            How would your APIs fare against your competitors? Are your APIs up for the challenge? Our rating system can help you identify the gaps in your APIs and develop a plan to improve your APIs.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-graduation"></i>
          <h3 class="title-v3-bg">API Certification</h3>
          <p>
            A key component to applying an API strategy is to have a team who understands why, how, and what of APIs. That’s we have developed a 3 day API certification workshop. It will teams on how to implement APIs, and how to put it to best use for your business.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-graph"></i>
          <h3 class="title-v3-bg">API Strategy</h3>
          <p>
            We live and breath APIs, and we understand how businesses can leverage APIs. Our expert can analyse your business goals and develop an API strategy that aligns
          </p>
        </div>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div>
<!--=== End Service Block ===-->
