<a name="team"></a>
<div >
  <div class="container team-v1 content-sm">
    <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
      <h2>Meet the Team</h2>
      <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
    </div>
    <ul class="list-unstyled row">
      <li class="col-sm-4 col-xs-6 md-margin-bottom-30">
        <div class="team-img">
          <img class="img-responsive" width="70%" src="assets/img/team/kin-lane.jpg" alt=""></img>
          <!-- <ul>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
        </ul> -->
        </div>
        <h3>Kin Lane</h3>
        <h4>/ API Evangelist</h4>
        <p></p>
      </li>
      <li class="col-sm-4 col-xs-6 md-margin-bottom-30">
        <div class="team-img">
          <img class="img-responsive" width="70%" src="assets/img/team/andrew-brown.jpg" alt=""></img>
          <!-- <ul>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
        </ul> -->
        </div>
        <h3>Andrew Brown</h3>
        <h4>/ API Product Expert</h4>
        <p></p>
      </li>
      <li class="col-sm-4 col-xs-6">
        <div class="team-img">
          <img class="img-responsive" width="70%" src="assets/img/team/chinmay-patel.jpg" alt=""></img>
          <!-- <ul>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
        </ul> -->
        </div>
        <h3>Chinmay Patel</h3>
        <h4>/ API Implementation Expert </h4>
        <p></p>
      </li>
    </ul>
  </div>
</div>
